accelerate>=0.20.3
charset_normalizer
cpm_kernels
modelscope>=1.9
sentencepiece
tiktoken
# https://huggingface.co/baichuan-inc/Baichuan2-7B-Base/discussions/2
transformers>=4.31,<=4.32
transformers_stream_generator

torch<=2.0
ms-swift==1.2.0
bitsandbytes
xformers
peft